.new-flex{
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: row;
   padding-top: 150px;
   padding-bottom: 200px;
 
 }

/* .nav-profile li.active {
  border-bottom: 3px solid #ec5165!important;
} */

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-bottom: 3px solid #ec5165!important;
}

.nav-tabs {
  border: none;
}

.nav-tabs .nav-link {
  border: none!important;
}

.button-avatar-upload {
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}
#root > div > div:nth-child(1) > div:nth-child(1) > div.container-fluid > div > div > ul > div {
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  flex-direction: column!important;
}
.p-nav a.nav-link:not(.btn){
  color: rgb(0, 0, 0)!important;
}
.p-nav a.nav-link:not(.btn):hover{
  color: #ec5165!important;
}
.nav-link:hover:not(.search):not(.btn):not(.link-nav), .nav-link:active:not(.search):not(.btn):not(.link-nav), .nav-link:focus:not(.search):not(.btn):not(.link-nav) {
  color: #ec5165!important;
}
.new-shadow {
  box-shadow: -6px 15px 49px -34px rgba(0,0,0,0.75)!important;
}